:root {
  --souple-bg: #f2f2f2;
  --souple-text: #333333;
  --souple-brd: #d6d6d6;
  --souple-bs: 0 0 8px 5px rgba(0, 0, 0, 0.04);
  --souple-active: #5178af;
  --souple-device-brd: #6c6c6c;
  --souple-button-bg: #e9e9e9;
  --souple-menu-hover: #e9e9e9;
}

@media (prefers-color-scheme: dark) {
  :root[class*="dark"],
  :root [class*="dark"] {
    --souple-bg: #333333;
    --souple-text: #f2f2f2;
    --souple-brd: #464646;
    --souple-device-brd: #b9b9b9;
    --souple-button-bg: #3d3d3d;
    --souple-menu-hover: #3d3d3d;
  }
}

body:has(#SoupleView.souple-view:not(.desktop)) {
  overflow: hidden;
}


#SoupleView.souple-view {
  &:not(.desktop) {
    position: fixed;
    z-index: 99999;
    inset: 0;
    background: var(--souple-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    > iframe {
      border-radius: 20px;
      border: 10px solid var(--souple-device-brd);
    }
  }
}


.souple-control {
  position: fixed;
  z-index: 999998;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--souple-text);
  background-color: var(--souple-bg);
  padding: 14px;
  border-radius: 8px;
}
.souple-buttons {
  display: inline-flex;
  border: 1px solid var(--souple-brd);
  border-radius: 4px;
  overflow: hidden;
  > .souple-button {
    flex: 1 0 auto;
    border-radius: 0;
    margin: 0;
  }
}
.souple-button {
  justify-content: center;
  text-align: center;
  display: inline-flex;
  align-items: center;
  vertical-align: baseline;
  gap: 0.5em;
  line-height: 1;
  font-size: 14px;
  padding: 0.4285em;
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 2px;
  border-left: 1px solid var(--souple-brd);
  background-color: var(--souple-button-bg);
  color: var(--souple-text);
  &:first-child {
    border: 0;
  }
  &:not(.selected) {
    cursor: pointer;
  }
  &.selected {
    background-color: var(--souple-active);
    color: #ffffff;
  }
  &.border {
    border: 1px solid var(--souple-brd);
  }
  &.disabled {
    cursor: not-allowed;
  }
}

.souple-control .button {
  justify-content: center;
  text-align: center;
  display: inline-flex;
  align-items: center;
  vertical-align: baseline;
  gap: 0.5em;
  line-height: 1;
  font-size: 14px;
  padding: 0.4285em;
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 2px;
  border-left: 1px solid var(--souple-brd);
  background-color: var(--souple-button-bg);
  color: var(--souple-text);
  span.current-name {
    display: block;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &.border {
    border: 1px solid var(--souple-brd);
  }
}
.souple-menu {

  margin-inline: -1px;
  position: absolute;
  top: 100%;
  left: 1rem;
  width: 150px;
  background-color: var(--souple-bg);
  border: 1px solid var(--souple-brd);
  border-radius: 4px;
  max-height: 50dvh;
  overflow-y: auto;
  box-shadow: var(--souple-bs);
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    padding: 4px 8px;
    :hover {
      background-color: var(--souple-menu-hover);
    }
    &.selected {
      background-color: #5178af;
      color: #ffffff;
    }
  }
}


